backports.tarfile==1.2.0
browser-cookie3==0.19.1
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
idna==3.7
importlib_metadata==8.2.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.2
keyring==25.3.0
lz4==4.3.3
more-itertools==10.4.0
Naked==0.1.32
pycparser==2.22
pycrypto==2.6.1
pycryptodomex==3.20.0
PyYAML==6.0.2
requests==2.32.3
shellescape==3.8.1
urllib3==2.2.2
zipp==3.20.0
